/*Estilizar cuerpo*/
body{
    background-color: rgb(32, 86, 107);
    display: flexbox;
}

table{
    justify-content: center;
    background-color: rgb(196, 172, 128);
    color: black;
    padding: 25px;
    font-size: larger;
    font-palette: black;
}

/*Barra de buqueda*/
.navbar{
    justify-content: center;
}
/*Espeificadores para img*/
.conteneiner{
    display: flexbox;
    justify-content: center;
    margin-left: 35px;
}

/*Estilizar imagenes*/
img{
    height: 100%;
    width: 100%;
}
/*Estilizar elementos de tipoo lista*/
.lista{
    display: flex;
    margin-left: 50px;
}

/*Aliniar titulo*/
h1{
    text-align: center;
}

/*Estilizar botones de agregado y editar*/
input{
    background-color: blue;
    color: white;
}

/**/
label{
    margin-left: 50px;
}
