// Colores
$color-texto-principal: rgb(222, 232, 233);
$color-fondo-general: whitesmoke;
$color-header-footer: #180d57;
$color-texto-header: white;
$color-producto: #88c9d4;
$color-local: #e0eff3;
$color-barra-lateral: #180d57;

// Espaciado
$padding-default: 1rem;
$padding-large: 2rem;
$gap-default: 1rem;
$gap-large: 1.5rem;

// Bordes
$border-radius: 10%;
$border-radius-grande: 2rem;

// Layout
$ancho-total: 100vw;

